body {
    background-color:dimgray;
}

.usuario {
    width: 250px; height: 40px;
    text-align: center;
}

.texto_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contraseña {
    width: 250px; height: 40px;
    text-align: center;
}

.texto_contraseña {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.morenoizo {
    font-size: 80px;
    text-align: center;
    margin-bottom: 200px;
}

.confirmar {
    width: 200px; height: 50px;
}

.boton_confirmar {
    display: flex;
    justify-content: center;
    align-items: center;
}